.carousel-inner .carousel-item {
    height: 100vh;
}
.carousel-item img {
    object-fit: cover;
    height: 100%; 
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.contact, .footer {
    background: #eff2f5;
}
.contact .card {
    height: 300px;
    border: 0;
    background: #eff2f5;
}
.card .social-media a i {
    font-size: 16px;
}
.carousel-caption {
    right: auto;
    bottom: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}